@charset "UTF-8";

body{
            background-color: lightgoldenrodyellow;
            font-family: Arial, sans-serif;
            font-size: 18px;
        }
        h1{
            color: darkred;
            font-size: 1.5em;
            background-color: goldenrod;
        }
        h2{
            color: darkorange;
            font-size: 1.2em;
        }
        p{
            text-align: justify;
        }