@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

header > h1 {
    font-family: var(--fonte2);
    font-size: 8vh;
    padding-top: 50px;
    /* text-transform: uppercase; (transforma todas as letras em maiúsculas) */ 
    font-variant: small-caps; /* transforma todas as letras em maiúsculas, mas a primeira letra de cada palavra fica maior que as demais */
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10%;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 10%;
    font-family: var(--fonte3);
    font-size: 3.5vh;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
}

section.imagem > p {
    display: inline-block;
    padding: 15px;
    background-color: rgb(66, 66, 66);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}